@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;1,100&family=Sora:wght@400;700&display=swap');

:root {
    --main-text: #6dbe36;
    --transition: all 0.4s ease;
}
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro h5 {
    color: var(--main-text);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;
}

.intro h1 {
    font-weight: 700;
    position: relative;
}

.intro h1::after {
    content: '';
    width: 15%;
    height: 4px;
    background-color: var(--main-text);
    display: block;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 26px;
}

.intro p {
    max-width: 700px;
}

header {
    width: 100%;
    min-height: 170vh;
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVBAR */
.top-nav {
    border-bottom: 1px solid #ccc1c15b;
}

.top-nav .social-links a {
    color: var(--main-text);
    margin-top: 4px;
}

.top-nav .social-links a i {
    font-size: 18px;
    margin-right: 4px;
}

.top-nav p i {
    color: var(--main-text);
}

.top-nav .line:first-child {
    border-right: 1px solid #ccc1c15b;
    height: 100%;
    padding-right: 10px;
}

.navbar-brand {
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    margin-right: 15px;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--main-text);
}

/* BTN */
.btn {
    padding: 20px 42px;
    font-weight: 600;
}

.btn-brand {
    background-color: var(--main-text);
}

.btn:hover {
    background: white;
}

.btn-app {
    background-color: var(--main-text);
    padding: 14px 52px;
}

/* HERO */
.hero {
    position: relative;
    padding-top: 18%;
    left: 50%;
}

.hero h4 {
    text-transform: uppercase;
}

.hero h1 {
    font-weight: 700;
    position: relative;
    margin-top: -50px;
}

.hero h1::before {
    content: '';
    width: 4px;
    height: 120px;
    display: inline-block;
    background-color: #6dbe36;
    transform: translate(-20px, 80px);
}

.hero p {
    font-size: 18px;
}

.hero .iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: 4px solid white;
    cursor: pointer;
    font-size: 32px;
}

.hero .iconbox:hover {
    border-color: var(--main-text);
    color: var(--main-text);
}

.hero:hover .iconbox i {
    color: #6dbe36;
}

.hero a {
    color: white;
    margin-left: 22px;
}


/* ABOUT */
#about {
    position: relative;
}

#about h5 {
    color: var(--main-text);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

#about h1 {
    color: rgba(0, 0, 0, 0.733);
    font-weight: 700;
    position: relative;
}

#about h1::after {
    content: '';
    width: 24%;
    height: 4px;
    background-color: var(--main-text);
    display: block;
    margin-top: 32px;
    margin-bottom: 28px;
}

#about .icon {
    font-size: 22px;
    color: var(--main-text);
    font-weight: 700;
}

#about .check p {
    color: rgba(0, 0, 0, 0.733);
    font-weight: 600;
}

#about form {
    padding: 32px;
    background-color: white;
    position: relative;
    bottom: 22%;
    right: -6%;
    
}

#about form h2 {
    font-size: 36px;
    font-weight: 800;
}

#about form .form-control {
    box-shadow: none;
    border: none;
}

#about form .form-control:focus {
    box-shadow: none;
    border: none;
}


#about form input {
    height: 50px;
    background-color: #e7e7e7;
}

#about form textarea {
    background-color: #e7e7e7;
}
#about form .btn-form {
    background-color: var(--main-text);
}
#about form .btn-form:hover {
    background-color: #302d2d;
    color: white;
}

.about-bottom {
    margin-bottom: -600px;
}

#about .about-box {
    padding: 12px;
    transition: var(--transition);
}

#about .about-box:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 5px #dadada;
}

#about .about-box .iconbox {
    color: var(--main-text);
    font-size: 32px;
    transition: var(--transition);
}

#about .about-box .iconbox:hover {
    color: black;
}

#about .about-box .about-text p {
    color: rgba(0, 0, 0, 0.733);
}

/* OFFER */
#offer {
    position: relative;
    height: 100vh;
}

#offer::after {
    content: '';
    width: 70%;
    height: 100%;
    background-color: #302d2d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#offer .offer-text {
    padding-top: 120px;
}

#offer .offer-text h1 {
    font-weight: 700;
}

#offer .offer-img {
    position: relative;
    right: 15%;
}

#offer .offer-img .book {
    width: 500px;
    height: 400px;
}

#offer .offer-img .deal {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 20%;
    right: -42%;
    border: 20px solid white;
}

/* SERVICE */
#service .service.s-1 {
    background-color: #302d2d;
    color: white;
}

#service .service {
    padding: 12px;
    transition: var(--transition);
}

#service .service:hover {
    background-color: #302d2d;
    color: white;
}

#service .service {
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    z-index: 1000;
}

#service .service.s-1:hover {
    color: black;
}

#service .service::before {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #302d2d;
    z-index: -1;
    transition: var(--transition);
}

#service .service.s-1::before {
    background-color: white;
}

#service .service:hover::before {
    height: 100%;
    transform: rotate(180deg);
}
 
#service .service .iconbox {
    font-size: 52px;
    color: var(--main-text);
}

/* CASES */
#cases {
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.699)), url("../images/cases.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#cases i {
    color: var(--main-text);
    font-size: 52px;
}

#cases h1,
#cases p {
    color: white;
}

#cases h1 {
    font-weight: 800;
}

/* TEAM */
#team .team {
    position: relative;
    overflow: hidden;
}

#team .main {
    position: relative;
}

#team .team::before {
    content: '';
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    transition: var(--transition);
}

#team .team:hover::before {
    height: 100%;
}

#team .team .social-links {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #302d2d;
    display: flex;
    opacity: 0;
    transition: var(--transition);
}

#team .team:hover .social-links {
    top: 50%;
    opacity: 1;
}

#team .team .social-links .link {
    width: 50px;
    height: 50px;
    background-color: var(--main-text);
    margin-right: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

#team .team .social-links .link:hover {
    background-color: white;
}

#team .team img {
    max-height: 500px;
}

#team .team-text {
    width: 70%;
    padding: 12px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    text-align: center;
}

#team .team-text h1 {
    font-weight: 800;
}

/* TESTIMONIALS */
#testimonials {
    position: relative;
}

#testimonials::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #302d2d;
    z-index: -1;
}

#testimonials .review {
    padding: 32px;
    background-color: whitesmoke;
    z-index: 100;
}

#testimonials .review .content {
    position: relative;
}

#testimonials .review .stars {
    color: var(--main-text);
}

#testimonials .review img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

#testimonials .review .review-text span {
    color: var(--main-text);
    font-weight: 500;
}

#testimonials .review-icon {
    position: absolute;
    top: -50%;
    right: 0;
    font-size: 82px;
}

#testimonials .carousel-control-prev,
#testimonials .carousel-control-next {
    display: none;
}

#testimonials .intro {
    text-align: right;
}

#testimonials .intro h1::after {
    width: 35%;
    margin-right: 0;
}

#testimonials .intro p {
    max-width: 400px;
    position: absolute;
    right: 8%;
}

/* PROJECTS */
#projects {
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.699)), url("../images/projects.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#projects .project-img {
    position: relative;
    overflow: hidden;
}

#projects .project-img img {
    transform: scale(1.1);
}

#project .project a {
    color: var(--main-text);
}

/* VISION */
#vision {
    padding-top: 300px;
}

#vision .intro {
    text-align: left;
}

#vision .intro h1::after {
    width: 35%;
    margin-left: 0;
}

#vision .intro p {
    max-width: 600px;
}

/* CONTACT */
#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/contact.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#contact h2 {
    font-weight: 700;
    line-height: 1.4;
    font-size: 42px;
}
#contact h2 span {
    color: var(--main-text);
}

/* BLOG */
#blog .blog-img img {
    height: 300px;
}

#blog .blog-content {
    padding: 22px;
}

#blog .blog-content h6 {
    color: var(--main-text);
    font-weight: 500;
}

#blog .blog-content .link {
    color: var(--main-text);
    transition: var(--transition);
}

#blog .blog-content .link:hover {
    color: #302d2d;
}

/* FOOTER */
footer {
    background-color: #302d2d;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.171);
}

footer .footer-top p,
footer .footer-top span {
    color: white;
}

footer .footer-top .social-links {
    display: flex;
}

footer .footer-top .social-links .link {
    width: 40px;
    height: 40px;
    background-color: var(--main-text);
    margin-right: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: var(--transition);
    cursor: pointer;
}

footer .footer-top .social-links .link:hover {
    background-color: white;
    transform: scale(0.9);
}

footer .footer-top h5 {
    color: var(--main-text);
}

footer .footer-top .links {
    transition: var(--transition);
}

footer .footer-top .links:hover {
    transform: translateX(10px);
}

footer .footer-top .links p {
    transition: var(--transition);
}

footer .footer-top .links p:hover {
    color: var(--main-text);
}


footer .footer-top .box .icon-box {
    color: var(--main-text);
    font-size: 24px;
}

footer .footer-top .box span {
    font-weight: 700;
}

footer .fotter-bottom {
    padding-top: 16px;
    padding-bottom: 16px;
}
